.explorar {
    width: 100%;
    min-height: calc(100vh - 8rem);
    background: rgba(255, 255, 255, 0.800);
    position: relative;

    .container__explorar {
        display: flex;
        flex-direction: column;

        .bar__buscador {
            display: flex;
            align-items: center;
            height: 8rem;
            width: 95%;
            margin: 0 auto;

            select {
                width: 20rem;
                height: 4.9rem;
                outline: none;
                cursor: pointer;
                padding-left: 3rem;
                border-radius: 5rem;
                border: none;
                font-size: 2.1rem;
                appearance: none;
                transition: .5s;

                &:hover {
                    padding-left: 4rem;

                }

                option {
                    padding: 1rem;
                    appearance: none;
                    border-radius: 5rem;
                }
            }

            .container__buscar {
                width: 90rem;
                display: flex;
                align-items: center;

                input {
                    width: 80rem;
                    height: 4.9rem;
                    margin-left: 5rem;
                    border-radius: 6rem 0 0 6rem;
                    border: none;
                    font-size: 2rem;
                    padding: 0 7rem 0 3rem;
                    outline: none;
                }

                button {
                    width: 30rem;
                    height: 4.9rem;
                    border-radius: 0 6rem 6rem 0;
                    background: white;
                    position: relative;
                    font-size: 1.2rem;

                    &::before {
                        content: '';
                        width: 3rem;
                        height: 3rem;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -5rem;
                        background: url('../image/icon/search.svg');
                        background-size: cover;
                        filter: invert(.7);
                    }

                    &::after {
                        content: '';
                        width: .2rem;
                        height: 4rem;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -.1rem;
                        background: rgba(51, 51, 51, 0.226);
                    }
                }
            }
        }

        .row__search {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-gap: 2rem;
            width: 95%;
            margin: 0 auto;

        }

        .pag__nav{
            width: 95%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 12rem;
            li{
                button{
                    svg{
                        font-size: 3rem;
                    }
                    font-size: 2rem;

                }
            }
        }
    }

}